<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
  </include>

  <arg name="world_name" default="worlds/empty.world"/>

  <arg name="laser_enabled" default="true"/>
  <arg name="kinect_enabled" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="urdf_extras" value="$(find robosim_husky)/urdf/husky_extra.urdf"/>
  </include>

  <node name="file_server" pkg="file_server" type="file_server" output="screen"/>

  <!--<node name="rqt_graph" pkg="rqt_graph" type="rqt_graph" output="screen"/>-->

  <rosparam file="$(find robosim_husky)/config/control.yaml" command="load"/>	
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller"/>
</launch>
